.inProfileLabel {
    color: #6B7A90;
}

.top{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    @apply py-8 bg-neutral-700 -mb-4;
}

.avatar{
    position: relative;
}

.avatar a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
    background: rgba(0,0,0, .4) !important;
}

.avatar:hover a{
    opacity: 1;
    visibility: visible;
}
