@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lexical h1 {
  @apply block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-inherit antialiased;
}

.lexical h2 {
  @apply block font-sans text-3xl font-semibold leading-snug tracking-normal text-inherit antialiased;
}

.lexical p {
  @apply block font-sans text-base font-normal leading-relaxed text-inherit antialiased;
}

.lexical ul {
  @apply list-inside list-disc;
}

.lexical ol {
  @apply list-inside list-decimal;
}

.lexical li {
  @apply font-sans text-base font-normal leading-relaxed text-inherit antialiased;
}

.lexical blockquote {
  @apply block font-sans text-xl font-normal leading-relaxed text-inherit antialiased;
}

.button-margin {
 margin-right: 8px;
}
