

.link {
    text-decoration: none;
    color: #212529;
    margin: 0;
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paddingLvl {
    --list-deep-lvl: 1;
    padding-left: calc(10px * var(--list-deep-lvl));
}

.linkActive {
    color: #1976d2;
}

.linkLoading {
    color: gray;
}