

.background {
    height: 400px;
    width: 400px;
    border-radius: 40px;
    object-fit: cover;
}

.right{
    flex-shrink: 0;
    position: sticky;
    top: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(max-width: 768px){
    .right{
        position: static;
    }

    .background{
        width: 100%;
    }
}
