.commentField {
  box-sizing: border-box;
  width: 100%;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: rgb(28, 32, 37);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(218, 226, 237);
  box-shadow: 0px 2px 2px rgb(243, 246, 249);
}

.commentField:hover {
  border-color: rgb(51, 153, 255);
}

.commentField:focus {
  border-color: rgb(51, 153, 255);
  box-shadow: 0 0 0 3px rgb(182, 218, 255);
}

.commentField:focus-visible {
  outline: 0;
}