.container {
    height: 100%; 
    min-width: 350px;
    background-color: #fff;
    border-radius:0;
}

.chatFrame {
    /* background: rgba(15,23,39, 0.07); */
    background: #fff;
    padding: 1.5rem 1rem;
    border: 1px solid #d3d6d6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    overflow: auto;
}

