
.header {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-blue-700 {
    background-color: #1e40af; /* Пример цвета фона */
}
